/* COLOR VARIABLES */  
$light-blue: #4eb4d0;
$dark-blue: #19468d;
$dark-grey: #333333;
$cool-grey: #78777a;
$lime-green: #c4d600;
$white: #ffffff;
$off-white: #f5f5f5;
$shadow-color: #d4d3df;

$extra-small-width: 768px;
$small-width: 991px;
$medium-width: 1200px;